body{
    background-color:background: #59C173;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
    height:100vh;
    width:100vw;
    margin:0px;
    display:flex;
    justify-content: center;
    align-items: center;

}
form{
    background-color:azure;
    height:30vh;
    width:25vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    outline: none;
    border-radius: 8px;
}
.one{
    height: 5vh;
    box-shadow:
  2.7px 2.8px 2.2px rgba(0, 0, 0, 0.022),
  6.6px 6.7px 5.3px rgba(0, 0, 0, 0.032),
  12.4px 12.5px 10px rgba(0, 0, 0, 0.04),
  22.1px 22.3px 17.9px rgba(0, 0, 0, 0.048),
  41.4px 41.8px 33.4px rgba(0, 0, 0, 0.058),
  99px 100px 80px rgba(0, 0, 0, 0.08)
;
}
.two{
    height:5vh;
}